rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }
    
    match /teams/{teamId}/feed/{uid}/{fileName} {
      allow read: if signedIn();
      // Restringir a imagens e vdeos, mx 60MB (vdeo) ou 2MB (imagem)
      allow write: if signedIn() && request.auth.uid == uid &&
                   (
                     (request.resource.contentType.matches('image/.*') && request.resource.size < 2 * 1024 * 1024) ||
                     (request.resource.contentType.matches('video/.*') && request.resource.size < 60 * 1024 * 1024)
                   );
    }
  }
}
